body {
	width: 600px;
	border: 1px solid;    
	margin: 10px;
	padding: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #e0fbff;
}

table {
	width: 100%;
	padding-bottom: 5px;
}

th {
	border: 1px solid;
}

tr.odd {
	background-color: #b2edff;
}

tr.even {
	background-color: #8fe3ff;
}

input[type=submit], input[type=button] {
    font-size: 10px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    border: 1px solid;
}

select {
	border: 1px solid;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px 3px 5px 3px;
}

.meldung {
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size: 12px;
	color: red;
}

.info {
	font-style : italic;
	color: blue;
}


.input1 {
	width: 130px;
}

.fakultaet {
	overflow: scroll;
}

